.h1 {
    font-variant: small-caps
}

body {
    font-variant: normal !important;
}

main {
    padding: 10px 10vw;
}

address {
    height: 100%;

}

.slide  {
    animation-duration: 2.25s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.info {
    font-size: calc(12px + 0.5vw);
    padding: 3px 15px;
    width: fit-content;
    border: 1px solid white;
}

.label {
    margin-top: 1rem;
}

#link-edit {
    background-color: white;
    margin-bottom: 30px;
}

#link-edit:hover, #link-edit:focus {
    color: #b3dcd1;
    box-shadow: 0 0 0 0.25rem rgba(179, 220, 209, 0.8) !important;
}